includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 10
    paths:
        - src
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - tests/
    ignoreErrors:
        - '#Variable method call on.*#'
